<div class="content-admin">

  <div class="img-side">
    <img src="../../../assets/761 [Converted].png" alt="loginImg">
  </div>
  <div class="form-side">
    <h1>Visionary Insight
    </h1>
    <!-- <form class="form-admin"  (ngSubmit)="send()"> -->


      <div class="form-control-admin">
        <input type="value" required="" [(ngModel)]="adminLog.email" >
        <label>
          <span style="transition-delay:0ms">E</span><span style="transition-delay:50ms">m</span><span
            style="transition-delay:100ms">a</span><span style="transition-delay:150ms">i</span><span
            style="transition-delay:200ms">l</span><span style="transition-delay:250ms"></span>
        </label>
      </div>
      <div class="form-control-admin">
        <input type="value" required="" [(ngModel)]="adminLog.password">
        <label>
          <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span
            style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span
            style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span
            style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
        </label>
      </div>
      <button class="ui-btn" (click)="send()">
        <span>
          Submit
        </span>
      </button>


    <!-- </form> -->
  </div>
</div>